* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}
header {
    background-image: url("./img/bgc1.jpg");
    background-size: 100%;
    height: 600px;
    background-repeat: no-repeat;
    img {
        position: relative;
        left: 50px;
    }
    ul {
        list-style: none;
        display: flex;
        position: absolute;
        left: 50%;
        top: 20px;
        color: white;
        li {
            text-transform: uppercase;
            font-size: 17px;
            margin: 10px 30px 10px 10px;
            a {
                color: white;
                text-decoration: none;
                
            }
            a:hover {
                color: rgb(226, 232, 134);
                cursor: pointer;
                border-bottom: 1px solid rgb(226, 232, 134);
            }
        }
    }
    h1 {
        text-align: center;
        align-items: center;
        color: white;
        text-shadow: rgb(0, 0, 0) 1px 0 20px;
        position: relative;
        left: 19%;
        letter-spacing: 0.8px;
        width: 1000px;
        font-size: 45px;
        margin-top: 50px;
    }
    h3 {
        color: white;
        text-align: center;
        align-items: center;
        text-shadow: rgb(0, 0, 0) 1px 0 20px;
        margin-top: 30px;
        width: 600px;
        position: relative;
        left: 31%;
        letter-spacing: 0.8px;
    }
}
.line {
    position: relative;
    left: 45%;
    border-bottom: 3px solid rgb(226, 232, 134);
    width: 200px;
    height: 20px;
}
main { 
    margin-bottom: 100px;
    h1 {
        text-align: center;
        align-items: center;
        color: black;
        position: relative;
        left: 21%;
        letter-spacing: 0.8px;
        width: 900px;
        font-size: 35px;
        margin-top: 50px;
    }
    h2 { 
        text-align: center;
        align-items: center;
        color: black;
        position: relative;
        letter-spacing: 0.8px;
        left: 15%;
        width: 1200px;
        font-size: 20px;
        margin-top: 30px;
    }
    .production {
        display: flex;
        margin-left: 235px;
        margin-top: 50px;
        p {
            width: 500px;
            font-size: 17px;
            margin-right: 34px;
            letter-spacing: 1.5px;
        }
        img {
            width: 600px;
            height: 450px;
            position: absolute;
        }
    }
    .bgc {
        width: 600px;
        height: 450px;
        background-color: rgb(255, 180, 40);
        margin-left: 35px;
        margin-top: 35px;
    }
}
.section1 {
    background-image: url('./img/kitchen2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    h1 {
        text-align: center;
        align-items: center;
        color: black;
        position: relative;
        left: 21%;
        letter-spacing: 0.8px;
        width: 900px;
        font-size: 35px;
        margin-top: 50px;
    }
    h2 { 
        text-align: center;
        align-items: center;
        color: white;
        position: relative;
        letter-spacing: 0.8px;
        text-shadow: rgb(0, 0, 0) 1px 0 20px;
        left: 15%;
        width: 1200px;
        font-size: 20px;
        margin-top: 30px;
    }
}
.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    div {
        background-color: rgb(255, 247, 232 , 0.7);
        width: 220px;
        height: 250px;
        margin: 20px;
        padding: 10px;
        text-align: center;
        border-radius: 50px;
    }
    img {
        margin-top: 36px;
        width: 120px;
        height: 120px;
    }
    p {
        margin-top: 10px;
    }
}